<section id="global-banner">
    <span>{{ settings.gb_copy }}</span>
</section>

<style>
#global-banner {
    background: {{ settings.gb_background_color }};
    color: {{ settings.gb_text_color }};
}
</style>
